In [1]:
import pandas as pd

In [2]:
import numpy as np

In [10]:
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('dog_intelligence.csv')

In [11]:
df.describe()

       reps_lower  reps_upper
count  136.000000  136.000000
mean    25.588235   41.507353
std     20.496240   28.195875
min      1.000000    4.000000
25%     16.000000   25.000000
50%     26.000000   40.000000
75%     26.000000   40.000000
max     81.000000  100.000000

In [ ]:
df_startswith(x , y):
    
    for i in x:
        if i.startswith(y)

In [9]:
df_startswith

['Poodle',
 'Papillon',
 'Pembroke Welsh Corgi',
 'Pomeranian',
 'Puli',
 'Portuguese Water Dog',
 'Pharaoh Hound',
 'Pointer',
 'Pug',
 'Petit Basset Griffon VendÌ©en',
 'Pekingese']